<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Página do Aluno</title>
</head>
<body>

    <div class="container mt-5">
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${listaDeAlunos}">
                        <td th:text="${aluno.matricula}"></td>
                        <td th:text="${aluno.nome}"></td>
                        <td th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></td>

                        <td><a th:href="@{/selecionaAluno(id=${aluno.matricula})}">
                            Alterar</a></td>
                            <td><a th:href="@{/removeAluno(id=${aluno.matricula})}">
                            Excluir</a></td>
                    </tr>
                </tbody>
        </table>
    </div>

    <form method="POST" th:object="${aluno}" th:action="@{/salvaAluno}">
        Matricula: <input type="text" name="matricula" th:field="*{matricula}">
        Nome: <input type="text" name="nome" th:field="*{nome}">
        Data de Nascimento: <input type="date" name="dataNascimento" th:field="*{dataNascimento}">
        <input type="submit" value="Salvar"></input>
    </form>
        
        
    
        

<!-- Inclua os scripts do Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
